{% extends 'base.html' %}
{% block title %}Password reset Done{% endblock %}
{% block content %}
<div class="row">
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
    <aside class="col-sm-4"><br>
        <h2>Password reset complete</h2>
        <div class="card">
            <article class="card-body">
                <br>
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.
                </p><br>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
</div>
{% endblock %}