{% extends 'base.html' %}

{% block content %}
<div class="row">
    <aside class="col-lg-4">
    </aside> <!-- col.// -->
    <aside class="col-lg-4"><br>
        <h4>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </h4>
        <br>
        <h4>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </h4>
    </aside>
</div>
<br>
{% endblock %}